.menu-card {
  display: flex;
  width: 580px;
  height: 200px;
  padding: 20px;
  gap: 30px;
  background-color: white;
  border: 1px solid rgba(53, 184, 190, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.menu-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 3px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  padding: 2px 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6px;
}

.menu-title {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1d1b45;
  margin: 0;
  max-width: 65%;
}

.menu-price {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #35b8be;
  white-space: nowrap;
  margin-top: 3px;
}

.menu-description {
  font-size: 15px;
  color: #5c6481;
  line-height: 1.4;
  margin: 0 0 10px;
  max-width: 400px;
  flex-shrink: 1;
  text-align: left;
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.quantity-input {
  width: 50px;
  height: 45px;
  padding: 4px 8px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background: #fafafa;
  text-align: center;
}

.add-to-cart {
  background-color: #35b8be;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  height: 45px;
  width: 147px;
}

.add-to-cart:hover {
  background-color: #2ca5aa;
}
